<aside
      class="bg-neutral-200 dark:bg-cetblack-700 z-10 dark:text-white w-80 h-screen fixed inset-0 duration-75 flex flex-col"
      :class="{'-translate-x-full': sidebarOpen===false}"
    >
      <div class="h-14 flex items-center">
        <span class="uppercase font-bold p-2 font-oswald text-lg ml-4">{{.Site.Title}}</span>
        <button
          class="bg-red-500 h-full p-3 place-self-end mr-0 ml-auto"
          @click="sidebarOpen = !sidebarOpen"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      {{ $bannerDark := resources.Get .Site.Params.banner_dark}}
      {{ $bannerLight := resources.Get .Site.Params.banner_light}}
      <img
        src="{{$bannerDark.RelPermalink}}"
        alt="The logo of the band."
        class="object-contain p-2 w-full h-48 hidden dark:block"
      />
      <img
        src="{{$bannerLight.RelPermalink}}"
        alt="The logo of the band."
        class="object-contain p-2 w-full h-48 block dark:hidden"
      />
      <div class="flex flex-col gap-y-4 my-auto">
        <!-- <p class="font-bold text-2xl">SOCIALS</p> -->
        {{ range .Site.Params.socials}}
            <a href="{{index . "url"}}" class="uppercase font-bold w-3/4 mx-auto text-center first-of-type:mt-2 bg-cetgreen-500 text-white block text-lg p-2 transition-all hover:brightness-110 duration-50 rounded-full">
                <span>
                    <i class="{{index . "icon"}}"></i>
                    {{index . "name"}}
                </span>

            </a>


        {{ end }}
        
      </div>
    </aside>