{{define "main"}}
<section class="grid place-items-center mt-2">
        <div
          class="flex flex-col lg:flex-row container bg-gray-200 dark:bg-cetblack-600 shadow rounded m-auto lg:m-0 items-center lg:items-start"
        >
          <iframe
            src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%230B8043&ctz=America%2FNew_York&showNav=0&showPrint=0&showTabs=0&showCalendars=1&showDate=1&showTitle=0&mode=AGENDA&src=Y2V0cmFnb3JlQGdtYWlsLmNvbQ&color=%23039BE5"
            style="border-width: 0;"
            width="400"
            height="400"
            frameborder="0"
            scrolling="no"
            class="order-4 lg:order-none w-full lg:w-3/4"
          ></iframe>
          <div class="prose prose-sm lg:prose-base dark:prose-invert lg:p-3 first-of-type:prose-h1:font-bebasNeue prose-p:font-oswald">
            <h1 class="order-3 lg:order-none text-center">Upcoming Shows</h1>
            <p>{{.Content}}</p>
          </div>
        </div>
      </section>
<section class="mt-4 flex flex-col lg:flex-row gap-4 justify-between items-center mb-auto">

  {{ range .Site.Data.members }}
  <div
          class="container max-w-md rounded shadow relative mx-auto first:lg:ml-4 last:lg:mr-4"
          x-data="{'hovered': false}"
          @mouseover="hovered = !hovered"
          @mouseout="hovered = !hovered"
        >
        {{ with .image }}
        {{ $image := resources.Get (string .src) }}
          <img
            src="{{$image.Permalink}}"
            alt = "{{.alt}}"
            class="object-cover h-full duration-200 transition-all"
            :class="hovered === true ? 'grayscale-0' : 'grayscale'"
          />
          {{ end }}
          <div
            class="absolute bottom-0 w-full text-sm h-8 bg-white grid place-items-center"
          >
            <p
              class="text-center align-center font-bebasNeue text-lg uppercase"
            >
            {{ $instruments := index . "instruments"}}
              {{index . "name"}} - {{delimit $instruments ", "}}

            </p>
          </div>
        </div>
  {{ end }}
  </section>
{{ end }}
